
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-inline: 30px;
    font-style: italic ;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
    color: white;
}

.nav-link:hover{
    color: rgb(0, 0, 0);
}

.card
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    float:left;
    width: 33px;
    margin-inline: 80px;
}

.card-text {
    color: black;
    margin-inline: 35px;
}

.user{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin-inline: -48px;
}

.grande{
    font-size: 20px;
    margin-inline: 30px;
}

body{
    background-image: url(../IMG/DreamShaper_v7_fondo_de_paredes_solas_con_formas_1-_1_.webp);
    background-repeat: repeat;
    background-position: center;
    background-size: 160px auto;
}